/* TABLE OF CONTENTS */
/* 1. Navbar */
/* 2. Menu */

/* 1. Navbar */
.new-logo {
  width: 7em;
  height: 4em;
}

/* 2. Menu */
.my-menu {
  float: right;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .my-menu {
    float: left;
    color: #fff;
  }
  .my-link {
    padding: 0px;
    margin: 0px;
  }
}
.my-link {
  transition: 1.5s;
  /* color: #ffffff; */
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.my-link:hover {
  color: white !important;
  background: #9b0000 !important;
  border: none;
  height: 50px;
  padding: 0px 5px 0px 5px;
}
.my-link:active {
  border: none;
}
.my-link:focus {
  border: none;
}

/* 3. Font sizes */

.size-1 {
  font-size: 1.2em !important;
}

.company-logo-size {
  width: 5em;
}

.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}

